*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    background-color: rgb(206, 206, 206);
    display: grid;
    grid-template-columns: 1fr 5fr ;
    grid-template-rows: 1fr 5fr;
}


/* SIDEBAR */

.sidebar{
    background-color: rgb(248, 87, 87);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-left: 15px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    padding-top: 15px;
    color: aliceblue;
}
.navbar-list{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

#nav-gap{
    margin-bottom: 35px;
}

a{
    text-decoration: none;
    color: azure;
    font-size: large;
    font-weight: 600;
}


/* HEADER */

.header{
    background-color: aliceblue;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
}
.header-top{
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
}
.search{
    display: flex;
    padding-top: 5px;
    padding-left: 45px;
    gap: 10px;
    align-items: center;
}
.notif-profile{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
}
.msg{
    display: flex;
    align-items: center;
    padding-left: 45px;
}
.btn > ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.btn{
    display: flex;
    align-items: center;
    
}


button{
    border: none;
    background-color: rgb(243, 99, 99);
    border-radius: 15px;
    width: 90px;
    height: 40px;
    color: aliceblue;
    font-size: large;
    padding: 5px 0;
    font-weight: 600;
}

input{
    border: none;
    background-color: rgb(250, 165, 165);
    border-radius: 10px;
    min-width: 200px;
    width: 600px;
    height: 30px;
}

/* Main Content */

.main{
    background-color: rgb(215, 212, 212);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* PROJECTS */

.projects{
    grid-row: 1 / 3;
}
.projects-header{
    padding: 35px 0 0 35px;
}
.proj-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 0 0 35px;
    gap: 25px;
}
.proj-cards{
    background-color: aliceblue;
    border-radius: 10px;
    width: 350px;
    height: 180px;
    padding: 15px;
    box-shadow: 5px 5px 16px grey;
    display: flex;
    flex-direction: column;
    gap: 38px;
    border-left: 7px solid rgb(243, 99, 99);
    
}
.reacts{
    display: flex;
    justify-content: end;
    gap: 5px;
    
}

/* ANNOUNCEMENTS */

.announcements{
    padding-right: 20px;
}
.announcements-header{
    padding: 35px 0 5px 0;
}
.announce-board{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 16px grey;
}

/* TRENDING */

.trending{
    padding-right: 20px;
}
.trending-header{
    padding: 35px 0 5px 0;
}
.trending-board{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 16px grey;
}
.trending-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}